<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>
    <property name="root" value="${logdir:-./logs}"/>

    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${root}/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${root}/access.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%level] [%logger] [%thread] %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${root}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${root}/application.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%level] [%logger] [%thread] %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %coloredLevel [%logger] %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_ACCESS" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ACCESS"/>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="play"         level="INFO"/>
    <logger name="application"  level="DEBUG"/>
    <logger name="access"       level="INFO" additivity="false">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
    <logger name="com.avaje.ebean.config.PropertyMapLoader"             level="OFF" />
    <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader"  level="OFF" />
    <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread"  level="OFF" />
    <logger name="com.gargoylesoftware.htmlunit.javascript"             level="OFF" />
    <logger name="play.core.server.netty.NettyModelConversion"          level="OFF" />

    <root level="INFO">
        <appender-ref ref="ASYNC_FILE"/>
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>

</configuration>
